<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row class="logo">
      <ion-col size="8" offset="2">
        <img src="assets/Wave2.png" />
      </ion-col>
    </ion-row>
    <ion-row class="heading">
      <ion-col>
        <p class="main">Sign In</p>
        <p class="sub">
          It was popularised in the 1960s with the release of Letraset
          sheetscontaining Lorem Ipsum.
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="0.5"></ion-col>
      <ion-col>
        <div class="socialbtn">
          <img src="assets/_Facebook.png" /> <span>Facebook </span>
        </div>
      </ion-col>
      <ion-col>
        <div class="socialbtn">
          <img src="assets/_Google.png" /> <span> Google </span>
        </div></ion-col
      >
      <ion-col size="0.5"></ion-col>
    </ion-row>
    <ion-row class="or">
      <ion-col size="0.5"></ion-col>
      <ion-col> <hr width="100%" color="#E0E5EC" /> </ion-col>
      <ion-col size="1"> or</ion-col>
      <ion-col> <hr width="100%" color="#E0E5EC" /></ion-col>
      <ion-col size="0.5"></ion-col>
    </ion-row>
    <ion-list>
      <ion-item lines="none">
        <ion-input placeholder="Email/Phone Number" value=""></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Password" type="password" value=""></ion-input>
        <ion-button fill="clear" slot="end" aria-label="Show/hide">
          <ion-icon slot="icon-only" name="eye" aria-hidden="true"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-row class="fp">
      <ion-col (click)="forgetPass()">
        <p>Forget Password?</p>
      </ion-col>
    </ion-row>

    <ion-row class="btn">
      <ion-col size="12">
        <ion-button expand="block" size="large" color="tertiary"
          >Log In</ion-button
        >
      </ion-col>
    </ion-row>
    <ion-row class="login">
      <ion-col offset="0.5">
        <p>Don’t have account? <span (click)="signUp()">Sign Up</span></p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
